article{
    border: 1px solid crimson;
    
}
header{ padding: 1px;

}

h1{ color:#FF4500	;
    text-align:center;
    text-transform:uppercase;
    font-family:alegreya,serif;
    font-size:90px;
    text-shadow: 4px 4px 5px #CCCC00;
            
}

h2{ color:#CCCC00;
    text-align:center;
    font-size:60px;
    font-family: lato, serif;
}

p{
  font-family: lato, serif;
}

body{
    background-image: url("images/leaves-pattern.png")
}

 .button1 {
    background-color: white;
    color: black;
    border: 2px solid orangered; 
    padding: 20px;
}

img{
    float: left;
    padding: 12px;
}

.button {
    background-color:white ;
    color: black;
    border: 2px solid yellowgreen;
    padding: 20px;
    
}
.bottom-link{
    text-align: center;

}
.bottom-link a{
    display: inline-block;
}

